@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --foreground: #fffafa;
    --background: #313338;
    --background-dark: #2B2D31;
    --accent: #146ef5;
    --red: #fe0303;
    --green: #10fe03;
    --light-grey: #B6B6B6;
}

@media (prefers-color-scheme: dark) {
    :root {
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    min-height: 100vh;
    color: var(--foreground);
    background: var(--background);
    font-family: 'Roboto', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
